################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Videobase/Videobase/Debug
/Videobase/.vs/Videobase/v14
/Videobase/Videobase/GeneratedFiles
/Videobase/Win32
/Videobase/Videobase.VC.db
/Videobase/Videobase.VC.VC.opendb
/Videobase/Videobase.sdf
